*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --base-dark: #254747;
  --base-light: #fefefa;
  --light-gray: #d4d9d6;
  --dark-gray: #2a2b2b;
  --highlight: #bf6332;
  --text-gray: #36454f;

  --background: var(--base-dark);

  --title-xl: 4.8rem;
  --title-large: 4rem;
  --title-medium: 3.2rem;
  --title-small: 2.4rem;
  --title-xs: 2rem;

  --text-large: 2rem;
  --text-medium: 1.8rem;
  --text-small: 1.6rem;

  --subtitle-large: 2.2rem;
  --subtitle-medium: 2rem;
  --subtitle-small: 1.8rem;
  --subtitle-xs: 1.4rem;
  --subtitle-xxs: 1.2rem;

  --line-height-large: 1.8;
  --line-height-medium: 1.5;
  --line-height-small: 1.2;

  --bold-font: 700;

  --title-subtitle-padding: 1rem;

  --bs-level1: 0 5px 10p rgba(0, 0, 0, 0.18);
  --bs-level2: 0 3px 12px 0 rgba(0,0,0,.25);
  --bs-level3: 0 15px 20px -5px rgba(0,0,0,0.2);

  --border-radius: 8px;

  --bold-font: 700;

  --header-font: 'Francois One', Arial, sans-serif;
  --content-font: 'Lato', Arial, sans-serif;
}

html {
  font-size: 62.5%;
  overscroll-behavior: none;
}

body {
  background: var(--background);
  overscroll-behavior: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

p,
a,
li {
  font-family: var(--content-font);
}

.tablestyle1 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
}

.tablestyle1 td {
  border: 2px solid var(--base-dark);
  padding: 1rem;
}

.tablestyle2 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
}

.tablestyle2 thead {
  background: var(--base-dark);
  color: var(--base-light);
  font-weight: 700;
}

.tablestyle2 td {
  border: 2px solid var(--base-dark);
  padding: 1rem;
}

.tablestyle3 {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
}

.tablestyle3 thead {
  background: var(--base-color);
  color: var(--off-white);
  font-weight: 700;
  text-align: center;
}

.tablestyle3 td {
  border: 2px solid var(--base-dark);
  padding: 1rem;
}

@media (max-width: 650px) {
  .tablestyle1 {
    width: 100%;
  }
  .tablestyle2 {
    width: 100%;
  }
  .tablestyle3 {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .tablestyle1 {
    font-size: var(--subtitle-xxs);
  }
  .tablestyle2 {
    font-size: var(--subtitle-xxs);
  }
  .tablestyle1 td {
    padding: 1rem .1rem;
  }
  .tablestyle2 td {
    padding: 1rem .5rem;
  }
  .tablestyle3 td {
    padding: 1rem .5rem;
  }
  
}

